main {
  max-width: 1600px;
  margin: 7rem 18% 1rem;
}

.but {
  color: #fff;
  background-color: #196DFE;
  padding: 5px 10px;
  font-size: 1.3rem;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}
.but:hover {
  background-color: #3b58d6;
}

.head1 {
  color: white;
  font-size: 3rem;
  line-height: 1.1;
  text-align: center;
  padding-bottom: 1.5%;
}

div span {
  margin: 4px;
}

.msgg {
  background-color: white;
  margin: 14px 0;
  font-weight: 500;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 7px;
}

.hide {
  visibility: hidden;
  display: none;
}
.disable{
  cursor: not-allowed;
}

.aicounsellorForm {
  text-align: center;
}
.inp {
  width: 97%;
  height: 1.5rem;
  border: none;
  margin: 6px 0;
  border-radius: 10px;
  padding: 10px 10px 10px 20px;
  font-size: 1.2rem;
  color: black;
  background-color: rgb(250, 247, 247);
}

.micImg{
  padding: 5px 8px 0;
  margin: 0 5px;
  translate: 0 5px;
}
.micIcon{
  height: 25px;
}
.submit {
  padding: 5px 25px;
  margin: 10px 7px 10px;
}
.feedButDiv{
  text-align: center;
}

input:focus {
  outline: none;
}

@media(max-width:480px) {
  main {
    max-width: 304px;
    margin: 7rem 12% 1rem;
  }
  .but {
    font-size: 1rem;
  }
  .head1 {
    font-size: 1.9rem;
  }
  .msgg {
    font-size: 1rem;
    padding: 6px;
  }
  .inp {
    width: 90%;
    height: 1rem;
    font-size: 1rem;
  }
  .micImg{
    margin: 0 2px;
    translate: 0 6px;
  }
  .micIcon{
    height: 21px;
  }
  .submit {
    padding: 5px 10px;
    font-size: 1rem;
  }
}

@media(max-width:820px) and (min-width:480px) {
  main {
    margin: 7rem 14% 1rem;
  }
  .but {
    font-size: 1.15rem;
  }
  .head1 {
    font-size: 2.4rem;
  }
  .msgg {
    font-size: 1.15rem;
  }
  .inp {
    width: 94%;
    height: 1.3rem;
    font-size: 1.15rem;
  }
  .micIcon{
    height: 23px;
  }
  .submit {
    padding: 5px 20px;
    font-size: 1.15rem;
  }
}