.search{
    width: 100%;
    height: 100%;
}

.heading{
    color: white;
    font-size: 3rem;
    line-height: 1;
    text-align: center;
    padding: 30px;
}

.boxes{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.chat{
    border: 1px solid #97B0DD;
    margin-left: 30px;
    margin-right: 20px;
    width: 60%;
    min-height: 400px;
    height: fit-content;
    margin-bottom: 40px;
    overflow: hidden;
}

.links{
    border: 1px solid #97B0DD;
    width: 30%;
    margin-right: 30px;
    height: fit-content;
    max-height: 400px;
    min-height: 400px;
    overflow: auto;
    flex-wrap: wrap;
    color: white;
    margin: 0;
}

.box{
    border-radius: 10px;
    background-color: #152346;
}

.links h3{
    color: white;
    margin: 10px 5px 5px 15px;
}

.chatbox{
    max-width: 100%;
    margin: auto;
    min-height: 420px;
    max-height: 400px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overscroll-behavior-y: contain;
    padding: 8px;
}

.chatbox::-webkit-scrollbar {
    display: none;
}

.links::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

.input{
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden;
}

.input input{
    outline: none;
    min-width: 90%;
    max-width: 95%;
    border: none;
    border-bottom-left-radius: 10px;
    font-size: 20px;
    padding-left: 10px;
    height: 48px;
}

.input input::placeholder{
    color: rgb(81, 81, 81);
}

.icon{
    color: rgb(0, 0, 0);
    min-width: 6%;
    border-bottom-right-radius: 10px;
    min-height: 50px;
}

.iconn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg{
    color: white;
    border: 1px solid #97B0DD;
    height: fit-content;
    min-width: 90%;
    max-width: 90%;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    max-width: 50%;
    flex-wrap: wrap;
    margin: 8px auto;
}

.btn{
    border: none;
    background: none;
}

.user{
    float: right;
}

.link{
    color: white;
    height: fit-content;
    min-width: 90%;
    padding: 10px;
    justify-content: center;
    max-width: 50%;
    overflow: hidden;
    flex-wrap: wrap;
    margin: 5px auto;
    box-shadow: inset 0 0 20000px #152346;
}

.a{
    color: white;
    max-width: 20px;
    text-decoration: none;
    flex-wrap: wrap;
    overflow: auto;
    padding: 0;
    padding: 5px;
}

.hr{
    min-width: 90%;
}

.buttom{
    border-top: 1px solid black;
}

.buttom .formSearch{
    height: 50px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
}

.formSearch{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.formSearch button{
    border: none;
    background: none;
}

.buttom .formSearch input{
    width: 100%;
    background-color: white;
}

.formSearch input::placeholder{
    color: black;
}

.buttom input{
    width: 245px;
    height: 45px;
    border-bottom-left-radius: 10px;
    outline: none;
    font-size: 20px;
    border: none;
}

.formSearch input{
    padding-left: 10px;
}

.buttom input::placeholder{
    outline: none;
    height: 45px;
    border: none;
    color: rgb(126, 125, 125);
}

.send{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    background-color: white;
    cursor: pointer;
}

.sendd{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 47px;
    border-bottom-right-radius: 10px;
    background-color: white;
}

.newchattxt{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin: auto;
}

.select{
    border: none;
    background: none;
    outline: none;
}
.fr{
    background-color: aqua;
    color: white;
}
.count{
    color: rgb(0, 195, 255);
}

@media screen and (max-width:346px) {
    .search{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 18% 0 14%;
    }
    .heading{
        font-size: 2.4rem;
        padding: 20px;
    }
    .boxes{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .chat{
        width: 90%;
        min-height: 400px;
    }
    .links{
        width: 70%;
        margin-bottom: 0px 40px 0px 0px;
        min-height: 400px;
        padding: 10px;
    }
    .input input{
        min-width: 75%;
        max-width: 80%;
        font-size: 20px;
        padding-left: 10px;
        height: 48px;
    }
    .btn{
        padding-left: 0;
    }

    .select{
        width: 70px;
    }

    .hidelinkbox{
        display: none;
    }
}

@media (min-width:346px) and (max-width:480px) {
    .search{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 18% 0 14%;
    }
    .heading{
        font-size: 2.4rem;
        padding: 20px;
    }
    .boxes{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .chat{
        width: 90%;
        min-height: 400px;
    }
    .links{
        width: 70%;
        margin-bottom: 0px 40px 0px 0px;
        min-height: 400px;
        padding: 10px;
    }
    .input input{
        min-width: 86%;
        max-width: 88%;
        font-size: 20px;
        padding-left: 10px;
        height: 48px;
    }
    .btn{
        padding-left: 0;
    }

    .select{
        width: 70px;
    }
    .hidelinkbox{
        display: none;
    }
}

@media(max-width:900px) and (min-width:480px) {
    .search{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 9% 0;
    }
    .heading{
        font-size: 2.6rem;
        padding: 25px;
    }
    .boxes{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    .chat{
        width: 90%;
        min-height: 400px;
    }
    .links{
        width: 70%;
        margin-bottom: 0px 40px 0px 0px;
        min-height: 400px;
        padding: 10px;
    }
    .input input{
        min-width: 86%;
        max-width: 88%;
        font-size: 20px;
        padding-left: 10px;
        height: 48px;
    }
    .hidelinkbox{
        display: none;
    }
}

@media (min-width:900px) and (max-width:1500px){
    .input input{
        outline: none;
        min-width: 92%;
        max-width: 92%;
        border: none;
        border-bottom-left-radius: 10px;
        font-size: 20px;
        padding-left: 10px;
        height: 48px;
    }
    .chatbox{
        max-width: 100%;
        min-height: 470px;
        max-height: 470px;
    }
    .links{
        width: 40%;
        margin: 0px 40px 10px 0px;
        min-height: 470px;
        max-height: 470px;
        padding: 10px;
    }
}

@media screen and (min-width:1500px){
    .iconn{
        width: 100%;
        padding-left: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .links{
        width: 30%;
        margin-bottom: 0px 40px 0px 0px;
        min-height: 520px;
        max-height: 520px;
        padding: 10px;
    }
    .chatbox{
        max-width: 100%;
        min-height: 520px;
        max-height: 520px;
    }
}